<a href="https://colab.research.google.com/github/kiakass/share/blob/master/colab_fileupload.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**# Drive Mount**

In [8]:
from google.colab import drive

drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

**# FIle 업로드 from PC**

In [ ]:
from google.colab import files
Upload = files.upload()
df=pd.read_csv("bank.csv", delimiter=",")

**# File from Google Drive**

In [20]:
import pandas as pd
df=pd.read_csv("./gdrive/My Drive/data/bank.csv", delimiter=",")

In [21]:
df

      Age  Experience  Income  Family  ...  CD.Account  Online  CreditCard  Y
0      25           1      49       4  ...           0       0           0  0
1      45          19      34       3  ...           0       0           0  0
2      39          15      11       1  ...           0       0           0  0
3      35           9     100       1  ...           0       0           0  0
4      35           8      45       4  ...           0       0           1  0
...   ...         ...     ...     ...  ...         ...     ...         ... ..
4995   29           3      40       1  ...           0       1           0  0
4996   30           4      15       4  ...           0       1           0  0
4997   63          39      24       2  ...           0       0           0  0
4998   65          40      49       3  ...           0       1           0  0
4999   28           4      83       3  ...           0       1           1  0

[5000 rows x 12 columns]